// Variables

// Colores
$color-primary-background: #E5E5E5;
$color-light-gray: #8e8e8e;
$color-dark-gray: #636363;
$color-white: #ffffff;
$color-ml-yellow: #ffe600;
$color-primary-blue: #007FFF;
$color-secondary-blue: #0059B2;

// Espacios
$space-zero: 0px;
$space-micro: 2px;
$space-nano-5: 5px;
$space-nano: 6px;
$space-xxs: 8px;
$space-xs-10: 10px;
$space-xs: 15px;
$space-s: 17px;
$space-m-20: 20px;
$space-m: 25px;
$space-m-30: 30px;
$space-l: 35px;
$space-l-40: 40px;
$space-xl-50: 50px;
$space-xxl-60: 60px;


// Tamaños de fuente
$size-nano: 12px;
$size-xxs: 13px;
$size-xs: 14px;
$size-s: 15px;
$size-m: 20px;
$size-l: 25px;
$size-xl: 30px;
$size-xxl: 36px;

// Tipo de texto
$base-text: Arial, Helvetica, sans-serif;